<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/sessionland.js"></script>
    <link rel="stylesheet" href="/static/sessionland.css"/>
    <link rel="icon" href="/static/favicon.ico" type="image/ico">
    <title>s e s s i o n l a n d</title>
</head>

<body>
    {% include 'message.html' %}
    {% block body %} {% endblock %}
</body>
</html>

